/* Your styles here */
div {
  white-space: nowrap;
}
* {
  white-space: nowrap;
  box-sizing: border-box;
}
/* ---------BODY */
body {
  background-color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  color: #25a2c3;
  font-weight: bolder;
  font-size: 1.4rem;
}
p {
  line-height: 1.65;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 30px;
}
/*---------------------- HEADER ----------------------*/
header {
  padding: 20px;
  padding-left: 50px;
  background-color: black;
}
.logo {
  text-align: left;
  margin: 0;
  width: 100%;
}
header img {
  width: 200px;
}
/* ---------------------MAIN---------------------------- */
main {
  display: inline-block;
  width: 100%;
  color: #393d41;
}

main img {
  max-width: 380px;
  width: 100%;
}

/* section 1 ---------------- */
main .section1 {
  padding: 240px 0px;
  font-weight: 450;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

main .section1 h2 {
  font-size: 250%;
  font-weight: 650;
}

main .section1 .parag {
  width: 45%;
  margin: 0 auto;
}

main .section1 p {
  font-weight: 400;
  font-size: 1.4rem;
  text-wrap: auto;
}

main .section1 button {
  font-family: "Montserrat", sans-serif;
  padding: 15px 35px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-color: #f04c2f;
  color: white;
  font-size: 15px;
}
/* wite---------------------- */
main section .white {
  text-align: left;
  padding: 100px 0px;
}

main section .white > div {
  display: inline-block;
  width: 50%;
  padding: 0 30px;
  margin-left: -2px;
}

main section .white h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

main section .white div p {
  font-size: 16px;
  margin: 0;
  text-wrap: auto;
}

main section .white img {
  border-radius: 50%;
  width: 500px;
}

main section .white .divDestro > div {
  margin-bottom: 20px;
}

main section .white .divDestro {
  padding-right: 26%;
}

/* red ------------------------ */
main section .red {
  padding: 80px 0px;
  background-color: #e22d0e;
  color: white;
}
main section .red h1 {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 220%;
}

main section .red p {
  font-family: "Roboto", sans-serif; /* !!Se si inserisce il font OPENSANS O MONTSERRAT, cambiando stile in ITALIC , cambia la forma base del font */
  font-style: italic;
  font-size: 1.3rem;
}
main section .red h2 {
  margin-bottom: 15px;
  margin-top: 35px;
  font-size: 150%;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: white;
}
/* section 2 ------------------- */
main section .section2 {
  padding: 60px;
}
main section .schede {
  display: inline-block;
  width: calc(100% / 4);
  margin: 35px 20px;
  border-color: #dee1e3;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

main section .schede img {
  height: 260px;
  width: 100%;
  max-width: inherit;
}

main .section2 h2 {
  margin-top: 25px;
  font-size: 1.2rem;
  font-weight: 700;
}
main .section2 p {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 400;
  text-wrap: auto;
  padding: 0 10px;
}

/* -----------------------FOTER----------------------- */
footer {
  color: #c8e7f0;
  font-family: "Montserrat", sans-serif;
  background-color: #25a2c3;
  padding: 80px 0;
}

footer > div {
  width: 15%;
  margin: 0 auto;
}

footer h1 {
  /* footer header------------ */
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
footer p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: left;
  font-weight: 200;
  font-size: 16px;
}
footer a {
  color: #c8e7f0;
}

footer .footerline {
  color: #c8e7f0;
  margin: 30px auto;
}

footer .copyright p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
